@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive: 12 98% 52%;
    --destructive-foreground: 0 0% 100%;
    --success: 139 76% 45%;
    --success-foreground: 139 76% 5%;
    --warning: 21 98% 52%;
    --warning-foreground: 0 0% 0%;
    --info: 231 98% 52%;
    --info-foreground: 0 0% 100%;
  }

  .dark {
    --destructive: 1 98% 17%;
    --destructive-foreground: 1 98% 77%;
    --success: 94 98% 17%;
    --success-foreground: 94 98% 57%;
    --warning: 52 98% 17%;
    --warning-foreground: 52 98% 57%;
    --info: 185 98% 17%;
    --info-foreground: 185 98% 57%;
  }
}



